.green_rect {
  fill: #30574e;
}
.menu_bar {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.cls-4 {
  fill: #203933;
}

.cls-23, .cls-5 {
  fill: #fff;
}

.cls-15, .cls-16, .cls-19, .cls-20, .cls-24, .cls-7 {
  font-size: 16px;
}

.cls-14, .cls-16, .cls-20, .cls-7 {
  font-family: Ebrima;
}

.cls-15, .cls-18, .cls-19, .cls-24, .cls-8 {
  font-family: Ebrima-Bold, Ebrima;
}

.cls-15, .cls-17, .cls-24, .cls-8 {
  font-weight: 700;
}

.cls-9 {
  text-decoration: underline;
}

.cls-10 {
  fill: url(#pattern);
}

.cls-11 {
  stroke: #020202;
  font-size: 32px;
  font-family: Sitka Heading;
}

.cls-12 {
  stroke: #203933;
  stroke-width: 100px;
}

.cls-12, .cls-21 {
  fill: url(#pattern-2);
}

.cls-13, .cls-17, .cls-25 {
  font-size: 10px;
}

.cls-13 {
  font-family: SegoeUI, Segoe UI;
}

.cls-17, .cls-25 {
  font-family: SegoeUI-Bold, Segoe UI;
}

.cls-20 {
  font-weight: 400;
}

.cls-21 {
  stroke: #30574e;
  stroke-width: 4px;
}

.cls-22 {
  stroke: #707070;
}

.cls-23 {
  font-size: 14px;
  font-family: Gadugi;
}

.cls-26 {
  stroke: none;
}

.on-image {
  position: absolute;
  top: 120px;
  bottom: center;
  right: center;
  left: center;
}