.green_rect {
  fill: #30574e;
}

.menu_bar {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.raised_text {
  position: absolute;
  top: 250px;
  bottom: center;
  right: center;
  left: center;
}

.home_button {
  position: absolute;
  transform: translate(0, -20);
}

.banner {
  position: absolute;
  object-fit: contain;
  width: 430px;
  height: 160px;
  transform: translate(0,100);
}
