.green_rect {
  fill: #30574e;
}

.menu_bar {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.raised_text {
  position: absolute;
  top: 120px;
  bottom: center;
  right: center;
  left: center;
}

.home_button {
  position: absolute;
  transform: translate(0, -20);
}
