.menuActsatSelectionChild {
  position: absolute;
  top: 445px;
  left: 70px;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 129px;
  height: 184px;
}
.div {
  position: absolute;
  top: 506px;
  left: 76px;
}
.div1 {
  position: absolute;
  top: 480px;
  left: 76px;
}
.div2 {
  position: absolute;
  top: 454px;
  left: 76px;
}
.div3 {
  position: absolute;
  top: 530px;
  left: 76px;
}
.div4 {
  position: absolute;
  top: 553px;
  left: 76px;
}
.div5 {
  position: absolute;
  top: 576px;
  left: 76px;
}
.div6 {
  position: absolute;
  top: 600px;
  left: 76px;
}
.path35Icon {
  position: absolute;
  top: 509px;
  left: 179px;
  width: 11.4px;
  height: 9.3px;
}
.menuActsatSelection {
  position: relative;
  width: 430px;
  height: 932px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
