.homeMenuExpandedChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.homeMenuExpandedItem {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.yourSchools {
  position: absolute;
  top: 287.5px;
  left: 17.5px;
  color: var(--color-black);
  -webkit-text-stroke: 1px #020202;
}
.c76a8d10D20f4551B9d33a4eecIcon {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.path4Icon {
  position: absolute;
  bottom: 132px;
  left: 200.19px;
  width: 26.6px;
  height: 0px;
}
.homeMenuExpandedInner {
  position: absolute;
  top: 329px;
  left: 18px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
}
.image3Icon {
  position: absolute;
  top: 329px;
  left: 16px;
  width: 185px;
  height: 135px;
  object-fit: cover;
}
.cornellUniversity {
  position: absolute;
  top: 449.5px;
  left: 33.5px;
  font-size: var(--font-size-lg);
  -webkit-text-stroke: 1px #fff;
}
.ithacaNy {
  margin: 0;
}
.ithacaNyDueContainer {
  position: absolute;
  top: 470px;
  left: 54px;
  font-size: var(--font-size-smi);
}
.yourMatches {
  position: absolute;
  top: 550.5px;
  left: 17.5px;
  color: var(--color-black);
  -webkit-text-stroke: 1px #020202;
}
.rectangleDiv {
  position: absolute;
  top: 592px;
  left: 18px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
  cursor: pointer;
}
.image3Icon1 {
  position: absolute;
  top: 592px;
  left: 16px;
  width: 185px;
  height: 135px;
  object-fit: cover;
}
.centreCollege {
  position: absolute;
  top: 708.5px;
  left: 47.5px;
  font-size: var(--font-size-lg);
  -webkit-text-stroke: 1px #fff;
}
.danvilleKy {
  position: absolute;
  top: 727px;
  left: 55px;
  font-size: var(--font-size-smi);
}
.homeMenuExpandedChild1 {
  position: absolute;
  top: 592px;
  right: -165px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
}
.nopathCopy18 {
  position: absolute;
  top: 596px;
  left: 21px;
  width: 172px;
  height: 101px;
  object-fit: cover;
}
.homeMenuExpandedChild2 {
  position: absolute;
  bottom: 158px;
  left: 33px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 46px;
  height: 18px;
}
.homeMenuExpandedChild3 {
  position: absolute;
  bottom: 158px;
  left: 85px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  width: 46px;
  height: 18px;
}
.homeMenuExpandedChild4 {
  position: absolute;
  bottom: 158px;
  left: 136px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  width: 46px;
  height: 18px;
}
.homeMenuExpandedChild5 {
  position: absolute;
  top: 592px;
  right: 33px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
}
.image3Icon2 {
  position: absolute;
  top: 592px;
  right: 30px;
  width: 185px;
  height: 135px;
  object-fit: cover;
}
.universityOfKentucky {
  position: absolute;
  top: 709.5px;
  right: 47.5px;
  font-size: var(--font-size-base);
  -webkit-text-stroke: 1px #fff;
}
.lexingtonKy {
  position: absolute;
  top: 727px;
  left: 252px;
  font-size: var(--font-size-smi);
}
.homeMenuExpandedChild6 {
  position: absolute;
  bottom: 158px;
  left: 232px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  width: 46px;
  height: 18px;
}
.homeMenuExpandedChild7 {
  position: absolute;
  bottom: 158px;
  left: 284px;
  border-radius: var(--br-5xs);
  background-color: var(--color-khaki);
  width: 46px;
  height: 18px;
}
.homeMenuExpandedChild8 {
  position: absolute;
  right: 49px;
  bottom: 158px;
  border-radius: var(--br-5xs);
  background-color: var(--color-indianred);
  width: 46px;
  height: 18px;
}
.nopathCopy16 {
  position: absolute;
  top: 596px;
  right: 37px;
  width: 172px;
  height: 101px;
  object-fit: cover;
}
.image7Icon {
  position: absolute;
  top: 596px;
  right: -165px;
  width: 175px;
  height: 101px;
  object-fit: cover;
}
.path16Icon {
  position: absolute;
  top: 559.17px;
  left: 236.9px;
  width: 24px;
  height: 15.4px;
  cursor: pointer;
}
.homeMenuExpandedChild9 {
  position: absolute;
  top: 523px;
  left: 205px;
  width: 80px;
  height: 65px;
  cursor: pointer;
}
.nopathCopy15 {
  position: absolute;
  top: 334px;
  left: 23px;
  width: 170px;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
}
.universityOfLouisville {
  position: absolute;
  top: 451.5px;
  left: 30.5px;
  font-size: var(--font-size-base);
  -webkit-text-stroke: 1px #fff;
}
.lineDiv {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.homeMenuExpandedChild11 {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.homeMenuExpandedChild12 {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.homeMenuExpandedChild13 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.homeMenuExpandedChild14 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.path41Icon {
  position: absolute;
  bottom: 30.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
}
.homeMenuExpandedChild15 {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: rgba(145, 145, 145, 0.39);
  width: 430px;
  height: 831px;
}
.homeMenuExpandedChild16 {
  position: absolute;
  top: 118px;
  left: 10px;
  border-radius: 40px;
  background-color: var(--color-darkslategray-100);
  width: 411px;
  height: 226px;
}
.home {
  position: absolute;
  top: 145.5px;
  left: 91.5px;
  -webkit-text-stroke: 1px #fff;
  cursor: pointer;
}
.bugReporting {
  position: absolute;
  top: 208.5px;
  left: 90.5px;
  -webkit-text-stroke: 1px #fff;
}
.path41Icon1 {
  position: absolute;
  top: 147.9px;
  left: 40px;
  width: 42px;
  height: 37.8px;
}
.path42Icon {
  position: absolute;
  top: 212.88px;
  left: 40px;
  width: 41px;
  height: 39.1px;
}
.myProfile {
  position: absolute;
  top: 271.5px;
  left: 91.5px;
  -webkit-text-stroke: 1px #fff;
  cursor: pointer;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
}
.path45Icon1 {
  position: absolute;
  top: 276.19px;
  left: 39.85px;
  width: 40.5px;
  height: 43px;
}
.location {
  position: absolute;
  bottom: 162px;
  left: 41px;
  font-size: var(--font-size-5xs);
}
.size {
  position: absolute;
  bottom: 162px;
  left: 92px;
  font-size: var(--font-size-5xs);
  white-space: pre-wrap;
}
.major {
  position: absolute;
  bottom: 162px;
  left: 144px;
  font-size: var(--font-size-5xs);
  white-space: pre-wrap;
}
.major1 {
  position: absolute;
  bottom: 162px;
  left: 238px;
  font-size: var(--font-size-5xs);
  white-space: pre-wrap;
}
.clubs {
  position: absolute;
  bottom: 162px;
  left: 292px;
  font-size: var(--font-size-5xs);
  white-space: pre-wrap;
}
.dorms {
  position: absolute;
  right: 60px;
  bottom: 162px;
  font-size: var(--font-size-5xs);
  white-space: pre-wrap;
}
.homeMenuExpanded {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
