.openingSurveyMajorstatsChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-mediumaquamarine);
  width: 430px;
  height: 101px;
}
.openingSurveyMajorstatsItem {
  position: absolute;
  top: 50px;
  right: 32px;
  background-color: var(--color-white);
  width: 54px;
  height: 36px;
}
.kyc {
  position: absolute;
  top: 42px;
  left: 25px;
  font-size: var(--font-size-33xl);
}
.helpUsNarrow {
  position: absolute;
  top: 186px;
  left: 41px;
  color: var(--color-black);
}
.openingSurveyMajorstatsInner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.lineDiv {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.openingSurveyMajorstatsChild1 {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.openingSurveyMajorstatsChild2 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.rectangleDiv {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.openingSurveyMajorstatsChild3 {
  position: absolute;
  top: 434px;
  left: 11px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 408px;
  height: 142px;
}
.openingSurveyMajorstatsChild4 {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.openingSurveyMajorstatsChild5 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.welcomeCarson {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  -webkit-text-stroke: 1px #000;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
}
.whatsYourCurrent {
  position: absolute;
  top: 469px;
  left: 54px;
  font-size: var(--font-size-lg);
}
.defaultAvatarProfileIconSo {
  position: absolute;
  top: 130px;
  right: 24px;
  border-radius: var(--br-106xl);
  width: 96px;
  height: 91px;
  object-fit: cover;
}
.openingSurveyMajorstatsChild6 {
  position: absolute;
  top: 498px;
  left: 70px;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 129px;
  height: 31px;
  cursor: pointer;
}
.openingSurveyMajorstatsChild7 {
  position: absolute;
  top: 498px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 147px;
  height: 31px;
  cursor: pointer;
}
.path35Icon {
  position: absolute;
  top: 509px;
  left: 179px;
  width: 11.4px;
  height: 9.3px;
}
.path36Icon {
  position: absolute;
  top: 509px;
  right: 66.6px;
  width: 11.4px;
  height: 9.3px;
}
.div {
  position: absolute;
  top: 506px;
  left: 76px;
}
.div1 {
  position: absolute;
  top: 505px;
  left: 230px;
}
.openingSurveyMajorstatsChild8 {
  position: absolute;
  top: 277px;
  left: 11px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-100);
  width: 408px;
  height: 141px;
}
.whichFocusArea {
  position: absolute;
  top: 310px;
  left: 44px;
  font-size: var(--font-size-lg);
}
.openingSurveyMajorstatsChild9 {
  position: absolute;
  top: 340px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 300px;
  height: 31px;
  cursor: pointer;
}
.path38Icon {
  position: absolute;
  top: 351px;
  right: 66.6px;
  width: 11.4px;
  height: 9.3px;
}
.computerScience {
  position: absolute;
  top: 348px;
  left: 76px;
}
.path17Icon {
  position: absolute;
  top: 595.19px;
  right: 30.79px;
  width: 114.7px;
  height: 42.7px;
}
.continue {
  position: absolute;
  top: 607px;
  right: 63px;
  font-size: var(--font-size-base);
  text-align: center;
}
.path25Icon {
  position: absolute;
  top: 611.52px;
  right: 42.5px;
  width: 13.5px;
  height: 13.5px;
}
.path32Icon {
  position: absolute;
  top: 595.19px;
  right: 30.79px;
  width: 114.7px;
  height: 42.7px;
  cursor: pointer;
}
.collegeHallIcon {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.openingSurveyMajorstatsChild10 {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 430px;
  height: 156px;
}
.helpUsNarrow1 {
  position: absolute;
  top: 190px;
  left: 41px;
}
.welcomeCarson1 {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  -webkit-text-stroke: 1px #fff;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.nopathCopy45 {
  position: absolute;
  top: 134px;
  right: 19px;
  border-radius: var(--br-106xl);
  width: 103px;
  height: 100px;
  object-fit: cover;
}
.openingSurveyMajorstats {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
