.openingSurveyRanksChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-mediumaquamarine);
  width: 430px;
  height: 101px;
}
.openingSurveyRanksItem {
  position: absolute;
  top: 50px;
  right: 32px;
  background-color: var(--color-white);
  width: 54px;
  height: 36px;
}
.kyc {
  position: absolute;
  top: 42px;
  left: 25px;
  font-size: var(--font-size-33xl);
}
.helpUsNarrow {
  position: absolute;
  top: 186px;
  left: 41px;
  color: var(--color-black);
}
.openingSurveyRanksInner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.lineDiv {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.openingSurveyRanksChild1 {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.openingSurveyRanksChild2 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.rectangleDiv {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.openingSurveyRanksChild3 {
  position: absolute;
  bottom: 127px;
  left: 11px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 408px;
  height: 531px;
}
.path4Icon {
  position: absolute;
  bottom: 132px;
  left: 200.19px;
  width: 26.6px;
  height: 0px;
}
.openingSurveyRanksChild4 {
  position: absolute;
  top: 632px;
  left: 28px;
  border-radius: 16px;
  background-color: var(--color-black);
  width: 372px;
  height: 159px;
}
.openingSurveyRanksChild5 {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.openingSurveyRanksChild6 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.welcomeCarson {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  -webkit-text-stroke: 1px #000;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
}
.defaultAvatarProfileIconSo {
  position: absolute;
  top: 130px;
  right: 24px;
  border-radius: var(--br-106xl);
  width: 96px;
  height: 91px;
  object-fit: cover;
}
.pleaseRankThe {
  position: absolute;
  top: 298px;
  left: 65px;
  font-size: var(--font-size-lg);
}
.openingSurveyRanksChild7 {
  position: absolute;
  top: 329px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div {
  position: absolute;
  top: 327px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.openingSurveyRanksChild8 {
  position: absolute;
  top: 389px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div1 {
  position: absolute;
  top: 387px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.openingSurveyRanksChild9 {
  position: absolute;
  top: 449px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div2 {
  position: absolute;
  top: 447px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.openingSurveyRanksChild10 {
  position: absolute;
  top: 509px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div3 {
  position: absolute;
  top: 507px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.openingSurveyRanksChild11 {
  position: absolute;
  top: 569px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div4 {
  position: absolute;
  top: 567px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.location {
  position: absolute;
  top: 671px;
  left: 279px;
}
.size {
  position: absolute;
  top: 671px;
  left: 81px;
}
.major {
  position: absolute;
  top: 671px;
  left: 173px;
}
.extracurriculars {
  position: absolute;
  top: 735px;
  left: 81px;
}
.openingSurveyRanksChild12 {
  position: absolute;
  top: 726px;
  left: 286px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 75px;
  height: 36px;
}
.tuition {
  position: absolute;
  top: 736px;
  left: 293px;
}
.openingSurveyRanksChild13 {
  position: absolute;
  top: 662px;
  left: 268px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 93px;
  height: 36px;
}
.location1 {
  position: absolute;
  top: 673px;
  left: 275px;
}
.openingSurveyRanksChild14 {
  position: absolute;
  top: 662px;
  left: 70px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 58px;
  height: 36px;
}
.size1 {
  position: absolute;
  top: 672px;
  left: 80px;
}
.openingSurveyRanksChild15 {
  position: absolute;
  top: 662px;
  left: 161px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 67px;
  height: 36px;
}
.major1 {
  position: absolute;
  top: 672px;
  left: 169px;
}
.openingSurveyRanksChild16 {
  position: absolute;
  top: 726px;
  left: 70px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 157px;
  height: 36px;
}
.extracurriculars1 {
  position: absolute;
  top: 736px;
  left: 76px;
}
.collegeHallIcon {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.openingSurveyRanksChild17 {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 430px;
  height: 156px;
}
.helpUsNarrow1 {
  position: absolute;
  top: 190px;
  left: 41px;
}
.welcomeCarson1 {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  -webkit-text-stroke: 1px #fff;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.nopathCopy45 {
  position: absolute;
  top: 134px;
  right: 19px;
  border-radius: var(--br-106xl);
  width: 103px;
  height: 100px;
  object-fit: cover;
}
.openingSurveyRanks {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
