.yourSchools {
  position: absolute;
  top: 287.5px;
  left: 17.5px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  -webkit-text-stroke: 1px #020202;
}
.homeFilterExpandedChild {
  position: absolute;
  top: 329px;
  left: 18px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
}
.image3Icon {
  position: absolute;
  top: 329px;
  left: 16px;
  width: 185px;
  height: 135px;
  object-fit: cover;
}
.cornellUniversity {
  position: absolute;
  top: 449.5px;
  left: 33.5px;
  font-size: var(--font-size-lg);
  -webkit-text-stroke: 1px #fff;
}
.ithacaNy {
  margin: 0;
}
.ithacaNyDueContainer {
  position: absolute;
  top: 470px;
  left: 54px;
  font-size: var(--font-size-smi);
}
.yourMatches {
  position: absolute;
  top: 550.5px;
  left: 17.5px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  -webkit-text-stroke: 1px #020202;
}
.homeFilterExpandedItem {
  position: absolute;
  top: 592px;
  left: 18px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
  cursor: pointer;
}
.image3Icon1 {
  position: absolute;
  top: 592px;
  left: 16px;
  width: 185px;
  height: 135px;
  object-fit: cover;
}
.centreCollege {
  position: absolute;
  top: 708.5px;
  left: 47.5px;
  font-size: var(--font-size-lg);
  -webkit-text-stroke: 1px #fff;
}
.danvilleKy {
  position: absolute;
  top: 727px;
  left: 55px;
  font-size: var(--font-size-smi);
}
.homeFilterExpandedInner {
  position: absolute;
  top: 592px;
  right: -165px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
}
.nopathCopy18 {
  position: absolute;
  top: 596px;
  left: 21px;
  width: 172px;
  height: 101px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  bottom: 158px;
  left: 33px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 46px;
  height: 18px;
}
.homeFilterExpandedChild1 {
  position: absolute;
  bottom: 158px;
  left: 85px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  width: 46px;
  height: 18px;
}
.homeFilterExpandedChild2 {
  position: absolute;
  bottom: 158px;
  left: 136px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  width: 46px;
  height: 18px;
}
.homeFilterExpandedChild3 {
  position: absolute;
  top: 592px;
  right: 33px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 180px;
  height: 189px;
}
.image3Icon2 {
  position: absolute;
  top: 592px;
  right: 30px;
  width: 185px;
  height: 135px;
  object-fit: cover;
}
.universityOfKentucky {
  position: absolute;
  top: 709.5px;
  right: 47.5px;
  font-size: var(--font-size-base);
  -webkit-text-stroke: 1px #fff;
}
.lexingtonKy {
  position: absolute;
  top: 727px;
  left: 252px;
  font-size: var(--font-size-smi);
}
.homeFilterExpandedChild4 {
  position: absolute;
  bottom: 158px;
  left: 232px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen);
  width: 46px;
  height: 18px;
}
.homeFilterExpandedChild5 {
  position: absolute;
  bottom: 158px;
  left: 284px;
  border-radius: var(--br-5xs);
  background-color: var(--color-khaki);
  width: 46px;
  height: 18px;
}
.homeFilterExpandedChild6 {
  position: absolute;
  right: 49px;
  bottom: 158px;
  border-radius: var(--br-5xs);
  background-color: var(--color-indianred);
  width: 46px;
  height: 18px;
}
.nopathCopy16 {
  position: absolute;
  top: 596px;
  right: 37px;
  width: 172px;
  height: 101px;
  object-fit: cover;
}
.image7Icon {
  position: absolute;
  top: 596px;
  right: -165px;
  width: 175px;
  height: 101px;
  object-fit: cover;
}
.path16Icon {
  position: absolute;
  top: 559.17px;
  left: 236.9px;
  width: 24px;
  height: 15.4px;
}
.homeFilterExpandedChild7 {
  position: absolute;
  top: 523px;
  left: 205px;
  width: 80px;
  height: 65px;
}
.nopathCopy15 {
  position: absolute;
  top: 334px;
  left: 23px;
  width: 170px;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
}
.universityOfLouisville {
  position: absolute;
  top: 451.5px;
  left: 30.5px;
  font-size: var(--font-size-base);
  -webkit-text-stroke: 1px #fff;
}
.homeFilterExpandedChild9 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.homeFilterExpandedChild10 {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.f135902796Alc9asbpfwjapmheguIcon {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.path4Icon {
  position: absolute;
  bottom: 132px;
  left: 200.19px;
  width: 26.6px;
  height: 0px;
}
.lineDiv {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.homeFilterExpandedChild11 {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.homeFilterExpandedChild12 {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.homeFilterExpandedChild13 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.homeFilterExpandedChild14 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.homeFilterExpandedChild15 {
  position: absolute;
  top: 546px;
  left: 225px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-100);
  width: 120px;
  height: 39px;
}
.homeFilterExpandedChild16 {
  position: absolute;
  top: 25px;
  right: 3px;
  width: 93px;
  height: 76px;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
}
.homeFilterExpandedChild17 {
  position: absolute;
  top: 546px;
  right: 10px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-100);
  width: 155px;
  height: 167px;
}
.yearColleges {
  position: absolute;
  top: 557px;
  right: 25px;
  font-size: var(--font-size-mid);
  text-align: center;
}
.yearColleges1 {
  position: absolute;
  top: 597px;
  right: 23px;
  font-size: var(--font-size-mid);
  text-align: center;
}
.tradeSchools {
  position: absolute;
  top: 636px;
  right: 31px;
  font-size: var(--font-size-mid);
}
.certifications {
  position: absolute;
  top: 674px;
  right: 32px;
  font-size: var(--font-size-mid);
}
.path16Icon1 {
  position: absolute;
  top: 559.17px;
  left: 236.9px;
  width: 24px;
  height: 15.4px;
  cursor: pointer;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.location {
  position: absolute;
  bottom: 162px;
  left: 41px;
}
.size {
  position: absolute;
  bottom: 162px;
  left: 92px;
  white-space: pre-wrap;
}
.major {
  position: absolute;
  bottom: 162px;
  left: 144px;
  white-space: pre-wrap;
}
.major1 {
  position: absolute;
  bottom: 162px;
  left: 238px;
  white-space: pre-wrap;
}
.clubs {
  position: absolute;
  bottom: 162px;
  left: 292px;
  white-space: pre-wrap;
}
.dorms {
  position: absolute;
  right: 60px;
  bottom: 162px;
  white-space: pre-wrap;
}
.homeFilterExpanded {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
