.openingSurveyFavoritesChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-mediumaquamarine);
  width: 430px;
  height: 101px;
}
.openingSurveyFavoritesItem {
  position: absolute;
  top: 50px;
  right: 32px;
  background-color: var(--color-white);
  width: 54px;
  height: 36px;
}
.kyc {
  position: absolute;
  top: 42px;
  left: 25px;
  font-size: var(--font-size-33xl);
}
.wereBuildingYour {
  position: absolute;
  top: 200px;
  left: 72px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.openingSurveyFavoritesInner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.lineDiv {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.openingSurveyFavoritesChild1 {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.openingSurveyFavoritesChild2 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.rectangleDiv {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.path4Icon {
  position: absolute;
  bottom: 132px;
  left: 200.19px;
  width: 26.6px;
  height: 0px;
}
.openingSurveyFavoritesChild3 {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.openingSurveyFavoritesChild4 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.thankYou {
  position: absolute;
  top: 160.5px;
  left: 137.5px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  -webkit-text-stroke: 1px #000;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
  cursor: pointer;
}
.openingSurveyFavoritesChild5 {
  position: absolute;
  top: 276px;
  left: 11px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 408px;
  height: 261px;
}
.ifYouHave {
  position: absolute;
  top: 299px;
  left: 36px;
  font-size: var(--font-size-lg);
}
.openingSurveyFavoritesChild6 {
  position: absolute;
  top: 326px;
  left: 42px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 350px;
  height: 36px;
}
.egCornellUniversity {
  position: absolute;
  top: 336px;
  left: 50px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  opacity: 0.59;
}
.path19Icon {
  position: absolute;
  top: 338px;
  right: 50px;
  width: 18px;
  height: 18px;
}
.openingSurveyFavoritesChild7 {
  position: absolute;
  top: 381px;
  left: 27px;
  border-radius: 26px;
  background-color: var(--color-gray-100);
  width: 377px;
  height: 126px;
}
.nopathCopy14 {
  position: absolute;
  top: 393px;
  left: 42px;
  border-radius: 10px;
  width: 108px;
  height: 102px;
  object-fit: cover;
}
.universityOfLouisville {
  position: absolute;
  top: 414.5px;
  left: 179.5px;
  font-size: var(--font-size-lg);
  -webkit-text-stroke: 1px #fff;
}
.louisvilleKy {
  margin: 0;
}
.louisvilleKyDueContainer {
  position: absolute;
  top: 440px;
  left: 217px;
  font-size: var(--font-size-smi);
}
.path20Icon {
  position: absolute;
  top: 437.14px;
  right: 48.26px;
  width: 22.1px;
  height: 19.7px;
  cursor: pointer;
}
.path17Icon {
  position: absolute;
  top: 555.19px;
  right: 30.79px;
  width: 114.7px;
  height: 42.7px;
  cursor: pointer;
}
.continue {
  position: absolute;
  top: 567px;
  right: 63px;
  text-align: center;
}
.path25Icon {
  position: absolute;
  top: 571.52px;
  right: 42.5px;
  width: 13.5px;
  height: 13.5px;
}
.path28Icon {
  position: absolute;
  top: 555.19px;
  right: 30.79px;
  width: 114.7px;
  height: 42.7px;
}
.finish {
  position: absolute;
  top: 567px;
  left: 308px;
  text-align: center;
}
.openingSurveyFavoritesChild8 {
  position: absolute;
  top: 415px;
  right: 26px;
  width: 60px;
  height: 74px;
  cursor: pointer;
}
.openingSurveyFavoritesChild9 {
  position: absolute;
  top: 415px;
  right: 26px;
  width: 60px;
  height: 74px;
}
.helpUsNarrow {
  position: absolute;
  top: 186px;
  left: 41px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.welcomeCarson {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  -webkit-text-stroke: 1px #000;
}
.defaultAvatarProfileIconSo {
  position: absolute;
  top: 130px;
  right: 24px;
  border-radius: var(--br-106xl);
  width: 96px;
  height: 91px;
  object-fit: cover;
}
.collegeHallIcon {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.openingSurveyFavoritesChild10 {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 430px;
  height: 156px;
}
.wereBuildingYour1 {
  position: absolute;
  top: 190px;
  left: 43px;
  font-size: var(--font-size-xl);
}
.thanksCarson {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  -webkit-text-stroke: 1px #fff;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.nopathCopy45 {
  position: absolute;
  top: 134px;
  right: 19px;
  border-radius: var(--br-106xl);
  width: 103px;
  height: 100px;
  object-fit: cover;
}
.openingSurveyFavorites {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
