.profileUkChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.profileUkItem {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.profileUkInner {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.lineDiv {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.nopathCopy37 {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.profileUkChild1 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.profileUkChild2 {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 430px;
  height: 156px;
}
.profileUkChild3 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.profileUkChild4 {
  position: absolute;
  top: 25px;
  right: 3px;
  width: 93px;
  height: 76px;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
  cursor: pointer;
}
.universityOfKentucky {
  position: absolute;
  top: 157.5px;
  left: 63.5px;
  font-size: var(--font-size-13xl);
  -webkit-text-stroke: 1px #fff;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
  cursor: pointer;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.match92 {
  position: absolute;
  top: 196px;
  left: 116px;
  text-align: center;
}
.universityOfKentucky1 {
  text-decoration: underline;
}
.basedOnYourContainer {
  position: absolute;
  top: 276px;
  left: 9px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 413px;
}
.blankLine {
  margin: 0;
}
.span {
  font-size: var(--font-size-3xs);
}
.urbanCampus {
  font-family: var(--font-roboto);
}
.urbanCampusLexingtonContainer {
  position: absolute;
  top: 305px;
  left: 45px;
  color: var(--color-black);
  display: inline-block;
  width: 413px;
}
.computerScienceBsContainer {
  position: absolute;
  top: 479px;
  left: 45px;
  display: inline-block;
  color: var(--color-black);
  width: 413px;
}
.likewiseWithYourContainer {
  position: absolute;
  top: 427px;
  left: 9px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 413px;
}
.profileUkChild5 {
  position: absolute;
  top: 678px;
  left: 79px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
  cursor: pointer;
}
.saveToMy {
  position: absolute;
  top: 699.5px;
  left: 140.5px;
  font-size: var(--font-size-9xl);
  -webkit-text-stroke: 1px #fff;
}
.path20Icon {
  position: absolute;
  top: 707.89px;
  left: 101.83px;
  width: 29.1px;
  height: 25.6px;
}
.profileUkChild6 {
  position: absolute;
  top: 574px;
  left: 79px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
  cursor: pointer;
}
.viewPhotos {
  position: absolute;
  top: 596.5px;
  left: 140.5px;
  font-size: var(--font-size-9xl);
  white-space: pre-wrap;
  -webkit-text-stroke: 1px #fff;
}
.path47Icon {
  position: absolute;
  top: 604.77px;
  left: 107.13px;
  width: 30.5px;
  height: 25.5px;
}
.profileUkChild7 {
  position: absolute;
  top: 574px;
  left: 79px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
}
.div {
  position: absolute;
  top: 420px;
  left: 9px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 413px;
}
.profileUk {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
