.profileUoflFavoriteChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.profileUoflFavoriteItem {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.profileUoflFavoriteInner {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.lineDiv {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.rectangleDiv {
  position: absolute;
  bottom: -3px;
  left: 139px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.profileUoflFavoriteChild1 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.profileUoflFavoriteChild2 {
  position: absolute;
  bottom: 0px;
  left: 139px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.nopathCopy20 {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.profileUoflFavoriteChild3 {
  position: absolute;
  top: 25px;
  right: 3px;
  width: 93px;
  height: 76px;
}
.nopathCopy19 {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: var(--color-gray-300);
  width: 430px;
  height: 156px;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
  cursor: pointer;
}
.universityOfLouisville {
  position: absolute;
  top: 157.5px;
  left: 61.5px;
  font-size: var(--font-size-13xl);
  -webkit-text-stroke: 1px #fff;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
  cursor: pointer;
}
.path45Icon {
  position: absolute;
  right: 51.74px;
  bottom: 31.5px;
  width: 40.5px;
  height: 43px;
}
.match81 {
  position: absolute;
  top: 196px;
  left: 115px;
  text-align: center;
}
.universityOfLouisville1 {
  text-decoration: underline;
}
.itsAmazingThatContainer {
  position: absolute;
  top: 276px;
  left: 9px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 413px;
}
.blankLine {
  margin: 0;
}
.span {
  font-size: var(--font-size-3xs);
}
.optional {
  font-family: var(--font-roboto);
}
.takeFlightApplicationContainer {
  position: absolute;
  top: 311px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 413px;
}
.yourStatsCurrentlyContainer {
  position: absolute;
  top: 426px;
  left: 16px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 401px;
}
.profileUoflFavoriteChild4 {
  position: absolute;
  top: 700px;
  left: 80px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
}
.saveToMy {
  position: absolute;
  top: 721.5px;
  left: 141.5px;
  font-size: var(--font-size-9xl);
  -webkit-text-stroke: 1px #fff;
}
.path20Icon {
  position: absolute;
  top: 729.89px;
  left: 102.83px;
  width: 29.1px;
  height: 25.6px;
}
.profileUoflFavoriteChild5 {
  position: absolute;
  top: 596px;
  left: 80px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
}
.viewPhotos {
  position: absolute;
  top: 618.5px;
  left: 141.5px;
  font-size: var(--font-size-9xl);
  white-space: pre-wrap;
  -webkit-text-stroke: 1px #fff;
}
.path47Icon {
  position: absolute;
  top: 626.77px;
  left: 108.13px;
  width: 30.5px;
  height: 25.5px;
}
.profileUoflFavoriteChild6 {
  position: absolute;
  top: 596px;
  left: 80px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
  cursor: pointer;
}
.switchView {
  position: absolute;
  top: 621.5px;
  left: 138.5px;
  font-size: var(--font-size-9xl);
  white-space: pre-wrap;
  -webkit-text-stroke: 1px #fff;
}
.div {
  position: absolute;
  top: 419px;
  left: 9px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 413px;
}
.profileUoflFavoriteChild7 {
  position: absolute;
  top: 548px;
  right: 62px;
  width: 138px;
  height: 31px;
}
.profileUoflFavoriteChild8 {
  position: absolute;
  top: 700px;
  left: 80px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
  cursor: pointer;
}
.saved {
  position: absolute;
  top: 721.5px;
  left: 141.5px;
  font-size: var(--font-size-9xl);
  white-space: pre-wrap;
  -webkit-text-stroke: 1px #fff;
}
.path23Icon {
  position: absolute;
  top: 730.89px;
  left: 102.83px;
  width: 29.1px;
  height: 23.7px;
}
.path49Icon {
  position: absolute;
  top: 625.77px;
  left: 107.13px;
  width: 35.9px;
  height: 33.5px;
}
.profileUoflFavorite {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
