.collegeHallIcon {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 430px;
  height: 156px;
  object-fit: cover;
}
.userSettingsChild {
  position: absolute;
  top: 101px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 430px;
  height: 156px;
}
.userSettingsItem {
  position: absolute;
  top: 50px;
  right: 32px;
  background-color: var(--color-white);
  width: 54px;
  height: 36px;
}
.helpUsNarrow {
  position: absolute;
  top: 190px;
  left: 41px;
}
.userSettingsInner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 101px;
}
.lineDiv {
  position: absolute;
  top: 53.94px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.userSettingsChild1 {
  position: absolute;
  top: 63.72px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.userSettingsChild2 {
  position: absolute;
  top: 73.5px;
  right: 28.6px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 38.9px;
  height: 6px;
}
.rectangleDiv {
  position: absolute;
  bottom: -8px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 430px;
  height: 118px;
}
.path4Icon {
  position: absolute;
  bottom: 132px;
  left: 200.19px;
  width: 26.6px;
  height: 0px;
}
.userSettingsChild3 {
  position: absolute;
  right: -2px;
  bottom: -3px;
  border-radius: var(--br-39xl);
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 115px;
}
.userSettingsChild4 {
  position: absolute;
  right: -2px;
  bottom: 0px;
  background-color: var(--color-darkslategray-300);
  width: 152px;
  height: 53px;
}
.path1Icon {
  position: absolute;
  bottom: 36.25px;
  left: 55px;
  width: 42px;
  height: 39.5px;
}
.welcomeCarson {
  position: absolute;
  top: 153.5px;
  left: 20.5px;
  font-size: var(--font-size-13xl);
  -webkit-text-stroke: 1px #fff;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
  cursor: pointer;
}
.userSettingsChild5 {
  position: absolute;
  top: 432px;
  left: 11px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 408px;
  height: 359px;
}
.dragToRearrange {
  position: absolute;
  top: 458px;
  left: 86px;
  font-size: var(--font-size-lg);
}
.userSettingsChild6 {
  position: absolute;
  top: 487px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div {
  position: absolute;
  top: 485px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.tuitioncost {
  position: absolute;
  top: 496px;
  left: 132px;
}
.userSettingsChild7 {
  position: absolute;
  top: 547px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div1 {
  position: absolute;
  top: 545px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.location {
  position: absolute;
  top: 556px;
  left: 132px;
}
.userSettingsChild8 {
  position: absolute;
  top: 607px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div2 {
  position: absolute;
  top: 605px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.size {
  position: absolute;
  top: 616px;
  left: 132px;
}
.userSettingsChild9 {
  position: absolute;
  top: 667px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div3 {
  position: absolute;
  top: 665px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.major {
  position: absolute;
  top: 676px;
  left: 132px;
}
.userSettingsChild10 {
  position: absolute;
  top: 727px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 249px;
  height: 36px;
}
.div4 {
  position: absolute;
  top: 725px;
  left: 70px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 51px;
}
.extracurriculars {
  position: absolute;
  top: 736px;
  left: 132px;
}
.userSettingsChild11 {
  position: absolute;
  top: 278px;
  left: 11px;
  border-radius: var(--br-16xl);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 408px;
  height: 141px;
}
.subscribeToOur {
  position: absolute;
  top: 315px;
  left: 100px;
  font-size: var(--font-size-lg);
}
.userSettingsChild12 {
  position: absolute;
  top: 345px;
  left: 42px;
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 350px;
  height: 36px;
}
.path41Icon {
  position: absolute;
  bottom: 35.28px;
  left: 190.8px;
  width: 48.4px;
  height: 43.8px;
  cursor: pointer;
}
.egNamegmailcom {
  position: absolute;
  top: 355px;
  left: 50px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  opacity: 0.59;
}
.groupIcon {
  position: absolute;
  top: 353px;
  right: 47.9px;
  width: 19.6px;
  height: 21.4px;
}
.path45Icon {
  position: absolute;
  right: 43.57px;
  bottom: 22.06px;
  width: 58.2px;
  height: 60.7px;
}
.nopathCopy45 {
  position: absolute;
  top: 134px;
  right: 19px;
  border-radius: var(--br-106xl);
  width: 103px;
  height: 100px;
  object-fit: cover;
}
.userSettings {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
