.menuMajorSelectionChild {
  position: absolute;
  top: 340px;
  right: 60px;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 300px;
  height: 132px;
}
.path38Icon {
  position: absolute;
  top: 351px;
  right: 66.6px;
  width: 11.4px;
  height: 9.3px;
}
.computerScience {
  position: absolute;
  top: 348px;
  left: 76px;
}
.mathematics {
  position: absolute;
  top: 374px;
  left: 76px;
}
.linguistics {
  position: absolute;
  top: 400px;
  left: 76px;
}
.digitalArt {
  position: absolute;
  top: 425px;
  left: 76px;
}
.musicTheory {
  position: absolute;
  top: 447px;
  left: 76px;
}
.menuMajorSelection {
  position: relative;
  width: 430px;
  height: 932px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
