.path23Icon {
  position: absolute;
  top: 437.33px;
  right: 48.05px;
  width: 22.6px;
  height: 19px;
  cursor: pointer;
}
.path17Icon {
  position: absolute;
  top: 555.19px;
  right: 30.79px;
  width: 114.7px;
  height: 42.7px;
  cursor: pointer;
}
.continue {
  position: absolute;
  top: 567px;
  right: 63px;
}
.path25Icon {
  position: absolute;
  top: 571.52px;
  right: 42.5px;
  width: 13.5px;
  height: 13.5px;
}
.path28Icon {
  position: absolute;
  top: 555.19px;
  right: 30.79px;
  width: 114.7px;
  height: 42.7px;
}
.finish {
  position: absolute;
  top: 567px;
  left: 308px;
}
.menuFinishButtonChild {
  position: absolute;
  top: 415px;
  right: 26px;
  width: 60px;
  height: 74px;
  cursor: pointer;
}
.menuFinishButton {
  position: relative;
  width: 430px;
  height: 932px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
