.profileButtons3Child {
  position: absolute;
  top: 678px;
  left: 79px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
}
.saved {
  position: absolute;
  top: 699.5px;
  left: 140.5px;
  white-space: pre-wrap;
  -webkit-text-stroke: 1px #fff;
}
.path20Icon {
  position: absolute;
  top: 707.89px;
  left: 101.83px;
  width: 29.1px;
  height: 25.6px;
}
.path23Icon {
  position: absolute;
  top: 708.89px;
  left: 101.83px;
  width: 29.1px;
  height: 23.7px;
}
.profileButtons3Item {
  position: absolute;
  top: 574px;
  left: 79px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-100);
  width: 267px;
  height: 88px;
  cursor: pointer;
}
.viewPhotos {
  position: absolute;
  top: 596.5px;
  left: 140.5px;
  white-space: pre-wrap;
  -webkit-text-stroke: 1px #fff;
}
.path47Icon {
  position: absolute;
  top: 604.77px;
  left: 107.13px;
  width: 30.5px;
  height: 25.5px;
}
.path41Icon {
  position: absolute;
  bottom: 29.65px;
  left: 182.7px;
  width: 64.3px;
  height: 55.1px;
  cursor: pointer;
}
.en42fabIcon {
  position: absolute;
  top: 13px;
  left: 37px;
  width: 55px;
  height: 85px;
  object-fit: cover;
  cursor: pointer;
}
.profileButtons3 {
  position: relative;
  width: 430px;
  height: 932px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
